<!doctype html><html lang=en><head><meta charset=utf-8><meta name=viewport content="width=device-width,initial-scale=1"><meta name=generator content="Hugo 0.101.0"><title>Hello World - Daniel-Andrei Minca</title><meta name=description content="Oha! I&rsquo;m a teapot
It&rsquo;s very interesting sometimes to test Golang blogging platforms
This is a sample YAML manifest 😄 🆒 😎
{{- if (and (ne (.Values.ui.ingress.enabled | toString ) &#34;-&#34;) .Values.ui.ingress.enabled) }} {{- $serviceName := printf &#34;%s-%s&#34; (include &#34;vault.fullname&#34; .) &#34;ui&#34; -}} apiVersion: extensions/v1beta1 kind: Ingress metadata: name: {{ template &#34;vault.fullname&#34; . }}-ingress namespace: {{ .Release.Namespace }} labels: app: {{ template &#34;vault.name&#34; . }} chart: {{ template &#34;vault.chart&#34; . }} heritage: {{ ."><link rel=stylesheet href=https://dminca.codeberg.page/css/ui.css><script defer src=https://dminca.codeberg.page/js/dark-mode.js></script>
<link disabled id=dark-mode-theme rel=stylesheet href=https://dminca.codeberg.page/css/dark.css><link rel=stylesheet href="https://fonts.googleapis.com/css?family=Fira+Mono|Lato|Raleway"></head><body><header class="container no-print"><div class=u-header><nav class=bar><ul><li><a href=https://dminca.codeberg.page/><img class=icon-text src=https://dminca.codeberg.page/img/prev.svg></a></li><li><img class=icon-text id=dark-mode-toggle src=https://dminca.codeberg.page/img/moon-regular.svg alt="Toggle Dark Mode"></a></li><li><a href=https://dminca.codeberg.page/dminca.pdf>📇 Résumé</a></li><li><a href=https://dminca.codeberg.page/posts>📰 Posts</a></li><li><a href=https://dminca.codeberg.page/tags>🔖 Tags</a></li></ul></nav></div></header><main class=container><article><header><hgroup id=brand><h1>Hello World</h1><h5><time datetime="2021-02-24 22:26:52 +0100 +0100">Feb 24, 2021</time>
<span class=no-print>-
<a href=https://dminca.codeberg.page/tags/untagged>untagged</a>
<span></h5></hgroup><hr class=sep></header><p>Oha! I&rsquo;m a teapot</p><p>It&rsquo;s very interesting sometimes to test Golang blogging platforms</p><p>This is a sample YAML manifest 😄 🆒 😎</p><div class=highlight><pre tabindex=0 style=color:#f8f8f2;background-color:#272822;-moz-tab-size:4;-o-tab-size:4;tab-size:4><code class=language-yaml data-lang=yaml><span style=display:flex><span>{{- <span style=color:#ae81ff>if (and (ne (.Values.ui.ingress.enabled | toString ) &#34;-&#34;) .Values.ui.ingress.enabled) }}</span>
</span></span><span style=display:flex><span>{{- <span style=color:#ae81ff>$serviceName := printf &#34;%s-%s&#34; (include &#34;vault.fullname&#34; .) &#34;ui&#34; -}}</span>
</span></span><span style=display:flex><span><span style=color:#f92672>apiVersion</span>: <span style=color:#ae81ff>extensions/v1beta1</span>
</span></span><span style=display:flex><span><span style=color:#f92672>kind</span>: <span style=color:#ae81ff>Ingress</span>
</span></span><span style=display:flex><span><span style=color:#f92672>metadata</span>:
</span></span><span style=display:flex><span>  <span style=color:#f92672>name</span>: {{ <span style=color:#ae81ff>template &#34;vault.fullname&#34; . }}-ingress</span>
</span></span><span style=display:flex><span>  <span style=color:#f92672>namespace</span>: {{ <span style=color:#ae81ff>.Release.Namespace }}</span>
</span></span><span style=display:flex><span>  <span style=color:#f92672>labels</span>:
</span></span><span style=display:flex><span>    <span style=color:#f92672>app</span>: {{ <span style=color:#ae81ff>template &#34;vault.name&#34; . }}</span>
</span></span><span style=display:flex><span>    <span style=color:#f92672>chart</span>: {{ <span style=color:#ae81ff>template &#34;vault.chart&#34; . }}</span>
</span></span><span style=display:flex><span>    <span style=color:#f92672>heritage</span>: {{ <span style=color:#ae81ff>.Release.Service }}</span>
</span></span><span style=display:flex><span>    <span style=color:#f92672>release</span>: {{ <span style=color:#ae81ff>.Release.Name }}</span>
</span></span><span style=display:flex><span>  {{- <span style=color:#ae81ff>if .Values.ui.ingress.annotations }}</span>
</span></span><span style=display:flex><span>  <span style=color:#f92672>annotations</span>:
</span></span><span style=display:flex><span>{{ <span style=color:#ae81ff>toYaml .Values.ui.ingress.annotations | indent 4 }}</span>
</span></span><span style=display:flex><span>  {{- <span style=color:#ae81ff>end }}</span>
</span></span><span style=display:flex><span><span style=color:#f92672>spec</span>:
</span></span><span style=display:flex><span>  <span style=color:#f92672>rules</span>:
</span></span><span style=display:flex><span>    {{- <span style=color:#ae81ff>range .Values.ui.ingress.hosts }}</span>
</span></span><span style=display:flex><span>    - <span style=color:#f92672>host</span>: {{ <span style=color:#ae81ff>. }}</span>
</span></span><span style=display:flex><span>      <span style=color:#f92672>http</span>:
</span></span><span style=display:flex><span>        <span style=color:#f92672>paths</span>:
</span></span><span style=display:flex><span>          - <span style=color:#f92672>backend</span>:
</span></span><span style=display:flex><span>              <span style=color:#f92672>serviceName</span>: {{ <span style=color:#ae81ff>$serviceName }}</span>
</span></span><span style=display:flex><span>              <span style=color:#f92672>servicePort</span>: <span style=color:#ae81ff>http</span>
</span></span><span style=display:flex><span>    {{- <span style=color:#ae81ff>end -}}</span>
</span></span><span style=display:flex><span>  {{- <span style=color:#ae81ff>if .Values.ui.ingress.tls }}</span>
</span></span><span style=display:flex><span>  <span style=color:#f92672>tls</span>:
</span></span><span style=display:flex><span>    {{- <span style=color:#ae81ff>range $value := .Values.ui.ingress.tls }}</span>
</span></span><span style=display:flex><span>    - <span style=color:#f92672>hosts</span>:
</span></span><span style=display:flex><span>      {{- <span style=color:#ae81ff>range $value.hosts }}</span>
</span></span><span style=display:flex><span>      - {{ <span style=color:#ae81ff>. }}</span>
</span></span><span style=display:flex><span>      {{- <span style=color:#ae81ff>end }}</span>
</span></span><span style=display:flex><span>      <span style=color:#f92672>secretName</span>: {{ <span style=color:#ae81ff>$value.secretName }}</span>
</span></span><span style=display:flex><span>    {{- <span style=color:#ae81ff>end }}</span>
</span></span><span style=display:flex><span>  {{- <span style=color:#ae81ff>end }}</span>
</span></span><span style=display:flex><span>{{- <span style=color:#ae81ff>end }}</span>
</span></span></code></pre></div><h2 id=some-python-sample-code>Some python sample code</h2><div class=highlight><pre tabindex=0 style=color:#f8f8f2;background-color:#272822;-moz-tab-size:4;-o-tab-size:4;tab-size:4><code class=language-python data-lang=python><span style=display:flex><span><span style=color:#75715e>#!/usr/bin/python3</span>
</span></span><span style=display:flex><span>
</span></span><span style=display:flex><span><span style=color:#f92672>from</span> engine <span style=color:#f92672>import</span> RunForrestRun
</span></span><span style=display:flex><span>
</span></span><span style=display:flex><span><span style=color:#e6db74>&#34;&#34;&#34;Test code for syntax highlighting!&#34;&#34;&#34;</span>
</span></span><span style=display:flex><span>
</span></span><span style=display:flex><span><span style=color:#66d9ef>class</span> <span style=color:#a6e22e>Foo</span>:
</span></span><span style=display:flex><span>	<span style=color:#66d9ef>def</span> __init__(self, var):
</span></span><span style=display:flex><span>		self<span style=color:#f92672>.</span>var <span style=color:#f92672>=</span> var
</span></span><span style=display:flex><span>		self<span style=color:#f92672>.</span>run()
</span></span><span style=display:flex><span>
</span></span><span style=display:flex><span>	<span style=color:#66d9ef>def</span> <span style=color:#a6e22e>run</span>(self):
</span></span><span style=display:flex><span>		RunForrestRun()  <span style=color:#75715e># run along!</span>
</span></span></code></pre></div><div class=highlight><div style=color:#f8f8f2;background-color:#272822;-moz-tab-size:4;-o-tab-size:4;tab-size:4;display:grid><table style=border-spacing:0;padding:0;margin:0;border:0><tr><td style=vertical-align:top;padding:0;margin:0;border:0><pre tabindex=0 style=color:#f8f8f2;background-color:#272822;-moz-tab-size:4;-o-tab-size:4;tab-size:4;display:grid><code><span style="white-space:pre;user-select:none;margin-right:.4em;padding:0 .4em;color:#7f7f7f"> 1
</span><span style="white-space:pre;user-select:none;margin-right:.4em;padding:0 .4em;color:#7f7f7f"> 2
</span><span style=background-color:#3c3d38><span style="white-space:pre;user-select:none;margin-right:.4em;padding:0 .4em;color:#7f7f7f"> 3
</span></span><span style="white-space:pre;user-select:none;margin-right:.4em;padding:0 .4em;color:#7f7f7f"> 4
</span><span style=background-color:#3c3d38><span style="white-space:pre;user-select:none;margin-right:.4em;padding:0 .4em;color:#7f7f7f"> 5
</span></span><span style=background-color:#3c3d38><span style="white-space:pre;user-select:none;margin-right:.4em;padding:0 .4em;color:#7f7f7f"> 6
</span></span><span style=background-color:#3c3d38><span style="white-space:pre;user-select:none;margin-right:.4em;padding:0 .4em;color:#7f7f7f"> 7
</span></span><span style="white-space:pre;user-select:none;margin-right:.4em;padding:0 .4em;color:#7f7f7f"> 8
</span><span style="white-space:pre;user-select:none;margin-right:.4em;padding:0 .4em;color:#7f7f7f"> 9
</span><span style="white-space:pre;user-select:none;margin-right:.4em;padding:0 .4em;color:#7f7f7f">10
</span><span style="white-space:pre;user-select:none;margin-right:.4em;padding:0 .4em;color:#7f7f7f">11
</span><span style="white-space:pre;user-select:none;margin-right:.4em;padding:0 .4em;color:#7f7f7f">12
</span><span style="white-space:pre;user-select:none;margin-right:.4em;padding:0 .4em;color:#7f7f7f">13
</span></code></pre></td><td style=vertical-align:top;padding:0;margin:0;border:0;width:100%><pre tabindex=0 style=color:#f8f8f2;background-color:#272822;-moz-tab-size:4;-o-tab-size:4;tab-size:4;display:grid><code class=language-python data-lang=python><span style=display:flex><span><span style=color:#75715e>#!/usr/bin/python3</span>
</span></span><span style=display:flex><span>
</span></span><span style=display:flex;background-color:#3c3d38><span><span style=color:#f92672>from</span> engine <span style=color:#f92672>import</span> RunForrestRun
</span></span><span style=display:flex><span>
</span></span><span style=display:flex;background-color:#3c3d38><span><span style=color:#e6db74>&#34;&#34;&#34;Test code for syntax highlighting!&#34;&#34;&#34;</span>
</span></span><span style=display:flex;background-color:#3c3d38><span>
</span></span><span style=display:flex;background-color:#3c3d38><span><span style=color:#66d9ef>class</span> <span style=color:#a6e22e>Foo</span>:
</span></span><span style=display:flex><span>	<span style=color:#66d9ef>def</span> __init__(self, var):
</span></span><span style=display:flex><span>		self<span style=color:#f92672>.</span>var <span style=color:#f92672>=</span> var
</span></span><span style=display:flex><span>		self<span style=color:#f92672>.</span>run()
</span></span><span style=display:flex><span>
</span></span><span style=display:flex><span>	<span style=color:#66d9ef>def</span> <span style=color:#a6e22e>run</span>(self):
</span></span><span style=display:flex><span>		RunForrestRun()  <span style=color:#75715e># run along!</span></span></span></code></pre></td></tr></table></div></div></article><nav class="no-print post-nav"><a class=next-post href=https://dminca.codeberg.page/istiocon-21/>IstioCon 21<img class=icon-text src=https://dminca.codeberg.page/img/next.svg></a></nav><hr class=sep></main><footer class="container no-print"><div class=u-footer><a href=mailto:mallard-broad0q@icloud.com><img class=icon-social src=https://dminca.codeberg.page/img/email.svg alt="Email Me!"></a>
<a href=https://threema.id/HRSXNWZ7 target=_blank><img class=icon-social src=https://dminca.codeberg.page/img/threema.svg alt=Threema></a>
<a href=https://t.me/dminca target=_blank><img class=icon-social src=https://dminca.codeberg.page/img/telegram.svg alt=Telegram></a>
<a href=https://matrix.to/#/@dminca:matrix.org target=_blank><img class=icon-social src=https://dminca.codeberg.page/img/matrix.svg alt=Matrix></a>
<a href=https://mastodontech.de/web/@dminca target=_blank><img class=icon-social src=https://dminca.codeberg.page/img/mastodon.svg alt=Mastodon></a>
<a href=https://pixelfed.social/dminca target=_blank><img class=icon-social src=https://dminca.codeberg.page/img/pixelfed.svg alt=Pixelfed></a>
<a href=https://github.com/dminca target=_blank><img class=icon-social src=https://dminca.codeberg.page/img/github.svg alt=Github></a>
<a href=https://gitlab.com/dminca target=_blank><img class=icon-social src=https://dminca.codeberg.page/img/gitlab.svg alt=Gitlab></a>
<a href=https://codeberg.org/dminca target=_blank><img class=icon-social src=https://dminca.codeberg.page/img/codeberg.svg alt=Codeberg></a>
<a href=https://stackoverflow.com/users/2733115/daniel-andrei-minc%c4%83 target=_blank><img class=icon-social src=https://dminca.codeberg.page/img/stackoverflow.svg alt=Stackoverflow></a>
<a href=https://www.xing.com/profile/DanielAndrei_Minca target=_blank><img class=icon-social src=https://dminca.codeberg.page/img/xing.svg alt=Xing></a>
<a href=https://www.linkedin.com/in/dminca target=_blank><img class=icon-social src=https://dminca.codeberg.page/img/linkedin.svg alt=Linkedin></a>
<a href=https://dminca.codeberg.page/index.xml target=_blank><img class=icon-social src=https://dminca.codeberg.page/img/feed.svg alt=Feed></a><p>Theme used: <a href=https://github.com/yursan9/manis-hugo-theme>Manis</a><br>CC BY-NC © 2022 Daniel-Andrei Minca
| <a href=https://creativecommons.org/licenses/by-nc/4.0/>License</a></p><a href=#brand><img class=icon-text src=https://dminca.codeberg.page/img/toup.svg alt="To Up">
<span>Back to Up</span></a></div></footer><script data-goatcounter=https://dminca.goatcounter.com/count async src=//gc.zgo.at/count.js></script></body></html>